.footer{
  width: 100vw;
  font-size: 12px;
  background-color: #A28089;
}

.fLists{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.fList{
  margin-top: 13px;
  list-style: none;
  padding: 10px;
}

.fListItem{
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
}

.fText{
  color: white;
}